@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
:root {
    --header: #6070ff;
    --project: #344563;
    --mainF: 'Poppins', cursive;
    --h-f-c:#7f8cff;
    --p-f-c:#17494d;
    --secheader:#03363d;
    --seccolor: whitesmoke;
  }
body {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;  
    padding: 30px 40px 20px 0px; 
    font-size: 1.5rem;
}

.nav-links li a{
    text-decoration: none;
    color: rgb(24, 25, 26);
}
.nav-links li a:hover{
    color:  var(--header);
}

.header-h1 {
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
    font-weight: 1000;
    font-size: 2.5rem;
}
#header-sec{
    display: block;
    padding-top: 300px;
    background: url(./images/city.png) no-repeat;
    background-size: 100%;
    height: 700px;
    border-bottom-left-radius: 100px;

}
.header-div{
    display: block;
    padding: 10px 70px 30px 80px;
    width: 75%;
}
.header-p {
    color: orange;
    font-weight: 1000;
    padding-top: 10px;
    line-height: 1.5em;
    padding-bottom: 40px;
}
.btn-read {
    cursor: pointer;
    padding:15px 20px 15px 20px;
    color: white;
    font-weight: bold;
    background: #d6a04f;
    border-radius:100px;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    cursor: pointer;
    

}
.btn-read:hover{
    color: white;
    background: #685b47;;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    cursor: pointer;
}

#message-sec {
    padding-top: 100px;
    width:100%;
    height:800px;
    background-color: var( --seccolor);
}

.msg-div{
    padding-left: 100px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sec-h1{
    font-size: 2rem;
    padding-bottom: 20px;
    text-align: center ;
    padding-top: 40px;
    color: #03363d;
    font-family: sharp sans,arial,sans-serif;
    font-weight: 800;
    line-height: calc(1em + 8px);
}

.msg-img{
    border-radius: 100px;
    width: 200px;
    padding-top: 40px;
}

.msg-p{
    text-align: center;
    padding-left:15%;
    padding-right: 15%;
    padding-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #344563;
    font-style: normal;
    padding-bottom: 40px;

}

#works-sec{
    padding-top: 100px;
    width:100%;
    height: 1500px;
    padding-bottom: 40px;
    background-color: var( --seccolor);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.works-div{
    padding: 100px 100px 30px 100px;
    display: flex;

}

.work-card{
    width:33.3%;
    align-items: center;
    height: 300px;
    margin: 2px;
    background-color: var(--seccolor);
    padding: 5px;
    border-radius: 20px;
    overflow: hidden; 
    box-shadow: #344563;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;  
}

.work-card:hover{
    background-color: #ebebec;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
   
}

.card-p{
    font-size: 16px;
    line-height: 20px;
    color: #344563;
    font-style: normal;
    padding:10px 20px 100px 20px
}

.card-h1{
    color: var(--p-f-c);
    justify-items: center;
    padding: 20px 20px 5px 20px;
    font-weight: 100;
}
.btn-read-wc{
    cursor: pointer;
    padding:15px 20px 15px 20px;
    color: white;
    font-weight: bold;
    background: #d6a04f;
    border-radius:50px;
    cursor: pointer;
   
}
.btn-read-wc:hover{
    background: #685b47; 
}

.ongoing-div{
    padding: 100px 300px 50px 300px;
    display: flex;
    gap:20px;
}

.ongoing-card{
    width:33.3%;
    align-items: center;
    height: 300px;
    margin: 2px;
    background-color: var(--seccolor);
    padding: 5px;
    border-radius: 20px;
    overflow: hidden; 
    box-shadow: #344563;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;  
}

.ongoing-card:hover{
    background-color: #ebebec;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ongoing-h1{
    color: var(--p-f-c);
    justify-items: center;
    padding: 0px 20px 5px 20px;
    font-weight: 100;
}

.ongoing-p{
    font-size: 16px;
    line-height: 20px;
    color: #344563;
    font-style: normal;
    padding:10px 20px 100px 20px
}

.btn-read-on{
    cursor: pointer;
    padding:15px 20px 15px 20px;
    color: white;
    font-weight: bold;
    background: #d6a04f;
    border-radius:50px;
    cursor: pointer;
}

.btn-read-on:hover{
    background: #685b47; 
    cursor: pointer;
}

.banner{
    width: 100%;
    height: 100px;
}

#contact-sec{
    padding-top: 1.5px;
    width:100%;
    height:fit-content;    
}

.contact-div{
    background-color: #2f466c;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 100px 200px 100px 200px;
}

.address-div{
    width:33.3%;
}
.address-div .sec-h1{
    text-align: left;
}
.social-div .sec-h1 {
    text-align: left;
}
.link-div .sec-h1{
    text-align: left;
}
.add-ul li{
    list-style: none;
    color: whitesmoke;
    line-height: 40px;
    font-family: "ABC Social", Arial, sans-serif;
}
.social-div{
    width:33.3%;
}
.soc-ul{
    list-style: none;
    color: whitesmoke;
    line-height: 40px;
    font-family: "ABC Social", Arial, sans-serif;
}
.link-div{
    width:33.3%;
    display: flex;
    flex-direction: column;
}
.contact-div .sec-h1{
   color: whitesmoke;
} 
.link-ul{
    list-style: none;
    color: whitesmoke;
    line-height: 40px;
    font-family: "ABC Social", Arial, sans-serif;
}
.link-li a{
    list-style: none;
    color: whitesmoke;
    text-decoration: none;
    line-height: 40px;
    font-family: "ABC Social", Arial, sans-serif;
}

.link-li a:hover{
    color: #6070ff;
}

.footer-div{
    background-color: #2f466c;
    width: 100%;
    border-top: 1px solid #636364;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright{
    color: whitesmoke;
    text-align: center;

}
